<div class="register">
    <div class="container">
        <h2>Register Here</h2>
        <div class="login-form-grids">
            <h6>Login information</h6>
              <form (ngSubmit)="onSubmit(authForm)" #authForm="ngForm">
                <input 
                type="email" 
                placeholder="Email Address" 
                name="email"
                required
                ngModel
                email
                #email="ngModel"
                >
                <span class="help-block" *ngIf="!email.valid && email.touched">Please Enter a Valid Email</span>
                <input 
                type="password" 
                placeholder="Password" 
                name="password"
                required
                ngModel 
                minlength="6"
                >
                <input type="submit" value="Register">
            </form>
        </div>
        <div class="register-home">
            <a href="index.html">Home</a>
        </div>
    </div>
</div>